* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin-top: 0;
}

.header {
    width: 1454px;
    height: 67px;
    padding-top: 19px;
    padding-bottom: 13px;
    display: flex;
    align-items: center;
}

.header-left1 {
    display: flex;
    margin-left: 153px;
    margin-right: 244px;
    justify-content: none;
    align-items: center;
    list-style: none;
}

.header-left1 li a {
    text-decoration: none;
    margin-right: 26px;
    color: rgb(147, 152, 158);
}

.header-center {
    margin-right: 187px;
    height: 42px;
    width: 125px;
}

.header-right {
    margin-left: 0;
    margin-right: 13px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.search {
    width: 200px;
    height: 37px;
    border-radius: 5px;
    border: rgb(147, 152, 158);
    border-style: solid;
    background-color: white;
}

.search i {
    opacity: 0.3;
    margin-right: 5px;
}

.search1 {
    position: relative;
    border: none;
    opacity: 0.3;
    border-radius: 0px 10px 10px 0px;
}

.banner {
    position: relative;
    width: 1441px;
    height: 390px;
    margin-top: 12px;
    margin-left: 8px;
}

.banner-text {
    position: relative;
    margin-left: 141px;
    margin-top: -286px;
}

.banner-text h1 {
    position: relative;
    color: rgb(52, 59, 68);
    font-size: 47px;
}

.banner-text p {
    position: relative;
    color: rgb(100, 99, 103);
    margin-top: -18px;
}

.main-header {
    display: flex;
    align-items: center;
    margin-top: 39px;
    margin-bottom: 56px;
}

.main-header-left button {
    font-size: 15px;
}

.main-header-left :nth-child(1) {
    color: white;
    background-color: rgb(72, 156, 124);
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 38px;
    padding-right: 41px;
    margin-left: 141px;
    border-radius: 5px;
    border: none;
    width: 180px;
}

.main-header-left :nth-child(2) {
    color: rgb(72, 156, 124);
    background-color: white;
    margin-left: 60px;
    padding-right: 71px;
    border: none;
    border-right: 1px solid rgb(205, 234, 222);
}

.main-header-left :nth-child(3) {
    margin-left: 66px;
    color: rgb(72, 156, 124);
    background-color: white;
    border: none;
    padding: 0;
    margin-right: 312px;
}

.main-header-right {
    display: flex;
    align-items: center;
}

.main-header-search {
    width: 255px;
    height: 53px;
    margin-right: 23px;
    background-color: white;
    border: none;
    border-bottom: 0.5px solid rgb(147, 152, 158);
}

.main-header-right i {
    position: relative;
    margin-left: -24px;
    margin-right: 10px;
    align-items: center;
    background-color: white;
    border: none;
    opacity: 0.3;
}

.input-search {
    opacity: 0.3;
    border: none;
}

.main-header-sortby {
    align-items: center;
    display: flex;
    width: 123px;
    height: 53px;
}

.main-header-sortby p {
    margin-top: 17px;
    margin-bottom: 17px;
    margin-left: 17px;
    margin-right: 11px;
}

.main-header-sortby {
    border-radius: 5px;
    background-color: rgb(244, 244, 244);
    border: none;
}

.main-list-product {
    margin-top: 57px;
    margin-left: 141px;
}

.main-list-product h5 {
    font-size: 19px;
    margin-bottom: 16px;
}

.main-list-product p {
    color: rgb(132, 136, 141);
}

.best-seller {
    border-radius: 20px;
    margin-top: -326px;
    margin-left: 168px;
    margin-bottom: 332px;
    width: 87px;
    height: 30px;
    z-index: 100;
}

.image-product p {
    position: relative;
    color: rgb(173, 123, 46);
    background-color: rgb(250, 200, 112);
    padding-left: 13px;
    padding-right: 9px;
    padding-top: 7px;
    padding-bottom: 22px;
    font-size: 13px;
}

.image-product1 p {
    position: relative;
    color: rgb(173, 123, 46);
    padding-left: 13px;
    padding-right: 9px;
    padding-top: 7px;
    padding-bottom: 22px;
    font-size: 13px;
}

.image-product2 p {
    position: relative;
    color: rgb(173, 123, 46);
    background-color: rgb(250, 200, 112);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 7px;
    padding-bottom: 22px;
    margin-left: 213px;
    font-size: 13px;
    width: 42px;
    height: 29px;
}

.info {
    margin-bottom: -5px;
}

.price-tag {
    display: flex;
    align-items: center;
}

.price-tag h1 {
    margin-top: 26px;
    margin-right: 13px;
}

.price-tag p {
    margin-top: 18px;
    margin-right: 124px;
}

.main-list-product-row1 {
    margin-top: 0;
    margin-bottom: 47px;
    display: flex;
}

.product {
    margin-right: 35px;
}

.p-none {
    padding-right: 25px;
}

.main-page {
    margin-left: 448px;
    align-items: center;
    display: flex;
    color: rgb(147, 152, 158);
    margin-top: 77px;
}

.p-1 {
    margin-left: 40px;
    margin-right: 38px;
}

.p-2 {
    margin-right: 38px;
}

.p-3 {
    margin-left: 0;
    margin-right: 40px;
}

.p-22 {
    color: rgb(105, 136, 124);
    background-color: rgb(178, 212, 198);
    border-radius: 45px;
    margin-right: 38px;
    padding: 7px;
}

.footer {
    background-color: rgba(29, 33, 40, 255);
    color: rgba(223, 225, 229, 255);
    margin-top: 111px;
    height: 438px;
    width: 1454px;
    display: flex;
}

.footer-left {
    background-color: rgba(29, 33, 40, 255);
    color: rgba(223, 225, 229, 255);
    height: 438px;
    width: 1454px;
    display: flex;
}

.footer-left-about {
    margin-left: 131px;
    margin-right: 0;
    margin-top: 100px;
}

.footer-left-about p {
    margin-top: 30px;
}

.footer-left-about select {
    width: 130px;
    height: 38px;
    border: rgba(223, 225, 229, 255);
    background-color: rgba(29, 33, 40, 255);
    color: rgba(223, 225, 229, 255);
    border: 0.5px solid rgba(223, 225, 229, 255);
    border-radius: 5px;
    padding-left: 13px;
    padding-right: 13px;
}

.footer-left-about h2 {
    font-size: 13px;
}

.footer-right {
    margin-top: 100px;
    margin-left: -440px;
}

.footer-right p {
    margin-top: -16px;
    margin-bottom: 16px;
}

.footer-email {
    position: relative;
    display: flex;
    margin-bottom: 28px;
}

.footer-email input {
    background-color: #1D2128;
    border: 1px solid #6D727C;
    padding: 15px 0 15px 50px;
    color: #AAAFB7;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px 0 0 8px;
    width: 270px;
}

.footer-email i {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 23px;
    background-color: #1D2128;
}

.footer-email button {
    background-color: #459D7A;
    color: #FCFDFD;
    font-weight: 500;
    border: 0;
    border-radius: 0 8px 8px 0;
    padding: 10px;
    font-size: 18px;
    width: 130px;
}

.social-network {
    margin-bottom: 37px;
    margin-right: 10px;
}